html {
  height: 100%;
}

html, body, ul {
  margin: 0;
  padding: 0;
}

body {
  font-family: "overpass", sans-serif;
  height: 100vh;
  background-image: url("../images/stardust.png");
  background-repeat: repeat;
  background-attachment: fixed;
}

nav {
  position:fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  background-color: DarkSeaGreen;
  height: 80px;
  z-index: 5;
}

ul li {
  display: inline-block;
  padding: 25px;
  color: white;
  font-size: 24px;
  margin-left: 20px;
  text-decoration: none;
}

a {
  text-decoration: none;
}

a:visited {
  color: white;
}

ul li a:hover {
  color: tomato;
}

h2 {
  margin-top: 150px;
  margin-left: 50px;
  font-family: 'Amatic SC', cursive;
  color: white;
  font-size: 60px;
  position: fixed;
}

h5 {
  text-align: right;
  font-size: 16px;
}

.left-column {
  width: 50%;
  height: 1100px;
  float: left;
  box-sizing: border-box;
}

.middle-column {
  width: 25%;
  height: 1100px;
  float: left;
  padding: 10px;
  box-sizing: border-box;
  margin-top: 750px;
}

.text-box {
  position: fixed;
  box-sizing: border-box;
  width: 40%;
  background-color: #ffffff;
  opacity: 0.3;
  margin: 250px 0px 100px 50px;
  padding: 30px;
  font-size: 20px;
  font-weight: bold;
}

.thought-bubble-1 {
	position: relative;
  display: inline-block;
  max-width:250px;
  min-height:1.5em;
  padding: 20px;
	background: #00aabb;
	border-radius: .4em;
  font-family: 'Amatic SC', cursive;
  font-size: 35px;
  color: white;
  opacity: 0.7;
  margin-left: 20px;
  box-sizing: border-box;
}

.thought-bubble-1:after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 50%;
	width: 0;
	height: 0;
	border: 20px solid transparent;
	border-top-color: #00aabb;
	border-bottom: 0;
	border-right: 0;
	margin-left: -10px;
	margin-bottom: -20px;
  box-sizing: border-box;
}

.thought-bubble-2 {
	position: relative;
  display: inline-block;
  max-width: 250px;
  min-height: 1.5em;
  padding: 20px;
	background: coral;
	border-radius: .4em;
  font-family: 'Amatic SC', cursive;
  font-size: 35px;
  color: white;
  margin: 200px 0px 0px 0px;
  opacity: 0.7;
  box-sizing: border-box;
}

.thought-bubble-2:after {
	content: '';
	position: absolute;
	right: 0;
	top: 50%;
	width: 0;
	height: 0;
	border: 20px solid transparent;
	border-left-color: coral;
	border-right: 0;
	margin-top: -20px;
	margin-right: -20px;
  box-sizing: border-box;
}

.thought-bubble-3 {
	position: relative;
  display: inline-block;
  max-width: 250px;
  min-height: 1.5em;
  padding: 20px;
	background: goldenrod;
	border-radius: .4em;
  font-family: 'Amatic SC', cursive;
  font-size: 35px;
  color: white;
  margin: 200px 0px 100px 10px;
  opacity: 0.7;
  box-sizing: border-box;
}

.thought-bubble-3:after {
	content: '';
	position: absolute;
	right: 0;
	top: 50%;
	width: 0;
	height: 0;
	border: 20px solid transparent;
	border-left-color: goldenrod;
	border-right: 0;
	border-top: 0;
	margin-top: -10px;
	margin-right: -20px;
  box-sizing: border-box;
}

.right-column {
  width: 25%;
  height: 1100px;
  float: left;
  box-sizing: border-box;
  margin-top: 900px;
}

.r-thought-bubble-1 {
  position: relative;
  display:inline-block;
  max-width:250px;
  min-height:1.5em;
  padding: 20px;
	background: #e9d460;
	border-radius: .4em;
  font-family: 'Amatic SC', cursive;
  font-size: 35px;
  color: #ffffff;
  opacity: 0.7;
  margin: 0 auto;
  box-sizing: border-box;
}

.r-thought-bubble-1:after {
  content: '';
	position: absolute;
	left: 0;
	top: 50%;
	width: 0;
	height: 0;
	border: 20px solid transparent;
	border-right-color: #e9d460;
	border-left: 0;
	margin-top: -20px;
	margin-left: -20px;
  box-sizing: border-box;
}

.r-thought-bubble-2 {
  position: relative;
  display:inline-block;
  max-width:250px;
  min-height:1.5em;
  padding: 20px;
	background: #dcc6e0;
	border-radius: .4em;
  font-family: 'Amatic SC', cursive;
  font-size: 35px;
  color: white;
  opacity: 0.7;
  margin: 150px 0px 0px 30px;
  box-sizing: border-box;
}

.r-thought-bubble-2:after {
  content: '';
	position: absolute;
	left: 0;
	top: 50%;
	width: 0;
	height: 0;
	border: 20px solid transparent;
	border-right-color: #dcc6e0;
	border-left: 0;
	border-bottom: 0;
	margin-top: -10px;
	margin-left: -20px;
  box-sizing: border-box;
}

.r-thought-bubble-3 {
  position: relative;
  display: inline-block;
  max-width:250px;
  min-height:1.5em;
  padding: 20px;
	background: #019875;
	border-radius: .4em;
  font-family: 'Amatic SC', cursive;
  font-size: 35px;
  color: white;
  opacity: 0.7;
  margin: 200px 0px 100px 10px;
  box-sizing: border-box;
}

.r-thought-bubble-3:after {
  content: '';
	position: absolute;
	left: 0;
	top: 50%;
	width: 0;
	height: 0;
	border: 20px solid transparent;
	border-right-color: #019875;
	border-left: 0;
	border-top: 0;
	margin-top: -10px;
	margin-left: -20px;
  box-sizing: border-box;
}

.erinn {
  position: fixed;
  bottom: 0;
  /* right: 0; */
  width: 400px;
  z-index: 4;
  margin-left: 400px;
}

.kitten {
  width: 150px;
  margin-left: 380px;
  box-sizing: border-box;
}
