
html, body, ul {
  margin: 0;
  padding: 0;
}

body {
  font-family: "overpass", sans-serif;
  height: 100vh;
  background-image: url("../images/stardust.png");
  background-repeat: repeat;
  background-attachment: fixed;
}

nav {
  position:fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  background-color: DarkSeaGreen;
  height: 80px;
  z-index: 5;
}

ul li {
  display: inline-block;
  padding: 25px;
  color: white;
  font-size: 24px;
  margin-left: 20px;
  text-decoration: none;
}

a {
  text-decoration: none;
}

a:visited {
  color: white;
}

ul li a:hover {
  color: tomato;
}

.left-column {
  width: 50%;
  height: 1000px;
  float: left;
  box-sizing: border-box;
  /* position: fixed; */
}

.right-column {
  width: 40%;
  height: 1000px;
  float: left;
  box-sizing: border-box;
  margin-top: 800px;
}

.text-box {
  background-color: #ffffff;
  opacity: 0.3;
  margin: 150px 50px 100px 50px;
  padding: 40px;
}

.thought-bubble-1 {
  position: relative;
  height: 400px;
  width: 100%;
  box-sizing: border-box;
}

.thought-bubble-1 img {
  width: 400px;
  opacity: 0.7;
  display: block;
  margin: 0 auto;
}

.quote-1 {
  z-index: 2;
  height: 200px;
  position: relative;
}

.quote-1 p {
  width: 100%;
  height: 200px;
  font-family: 'Amatic SC', cursive;
  font-size: 35px;
  color: white;
  display: block;
  padding: 10px;
  text-align: center;
  box-sizing: border-box;
}

.thought-bubble-2 {
  position: relative;
  height: 400px;
  width: 100%;
  box-sizing: border-box;
}

.thought-bubble-2 img {
  width: 400px;
  opacity: 0.7;
  display: block;
  margin: 0 auto;
}

.quote-2 p {
  width: 100%;
  height: 200px;
  font-family: 'Amatic SC', cursive;
  font-size: 35px;
  color: white;
  display: block;
  padding: 10px;
  text-align: center;
  box-sizing: border-box;
}

.thought-bubble-3 {
  position: relative;
  height: 400px;
  width: 100%;
  box-sizing: border-box;
}

.thought-bubble-3 img {
  width: 400px;
  opacity: 0.7;
  display: block;
  margin: 0 auto;
}

.quote-3 p {
  width: 100%;
  height: 200px;
  font-family: 'Amatic SC', cursive;
  font-size: 35px;
  color: white;
  display: block;
  padding: 10px;
  text-align: center;
  box-sizing: border-box;
}


.quote-2 {

}

.quote-3 {

}

.erinn {
  position: fixed;
  bottom: 0;
  right: 0;
  height: 400px;

}
